*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}
